.product {
  .slick-prev, .slick-next {
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 500px;
    background: #502c74;
    transform: translate(0);
    display: inline-block !important;
  }
  
  .slick-prev {
    top: auto;
    bottom: 0;
    left: 150px;
    position: absolute;
  }
  
  .slick-next {
    left: 210px;
    position: relative;
    display: inline-block;
  }
  
  .slick-dots {
    width: auto;
    bottom: -32px;
    position: absolute;
    transform: translateY(50%);
  }
}